{% extends 'blog/base.html' %}
{% block content %}
<h1>About this Blog Site</h1>

<div class="jumbotron">
  <p>This is a small blog project made to demonstrate the use of database management using python and django web framework!</p>
  <h4>Technologies Used are:</h4>

  <ol>
    <li> <a href="https://www.w3schools.com/html/">HTML</a> </li>
    <li> <a href="https://www.w3schools.com/css/css_intro.asp">CSS</a> </li>
    <li> <a href="https://getbootstrap.com/">BOOTSTRAP(4)</a> </li>
    <li> <a href="https://www.python.org/">Python(3.7)</a> </li>
    <li> <a href="https://www.djangoproject.com/">DJango(2.2)</a> </li>
    <li> <a href="https://atom.io"> ATOM (1.40.1)</a> </li>
  </ol>
</div>
<p>Thanks for visiting</p>
<br>
<br>
<h5>Developed By :</h5>
<p>Pradyumn Prakash Pandey</p>
<p>Rohit Chaudhari</p>
{% endblock %}
